# Sample Environment Configuration File

# OpenAI API Key
# Don't just stand there, go get it from OpenAI! 🚀
OPENAI_API_KEY=prettyplease_with_cherry_on_top

# Database Credentials - We just use defaults from PG
DB_USERNAME=postgres
DB_PASSWORD=
DB_HOST=0.0.0.0 # this is used for local development
# Use 5433 if you want to connect from your laptop
DB_PORT=5433
DB_NAME=postgres

# FastAPI Settings
# Debug mode: Let's see what's under the hood!
DEBUG_MODE=True

# Port: Knock knock, who's there? Your awesome app!
APP_PORT=8080
